.Education {
  .education-content {
    background-color: rgb(255, 255, 255);
    padding-top: 8rem;
    padding-bottom: 8rem;

    .education-card {
      align-items: center;
      background-color: rgb(255, 255, 255);
      box-shadow: -40px -30px 0px 0px rgba($secondary, 1);
      border-radius: 1.2rem;
      border: 2px solid $b;
      display: flex;
      filter: url(#grain-texture);
      flex-direction: column;
      justify-content: center;
      padding: 4rem 6rem;
    }

    .university-header {
      align-items: center;
      // background-color: blue;
      display: flex;
      flex-direction: column;

      &::after {
        background-color: $fg;
        content: "";
        display: block;
        height: 4px;
        margin-bottom: 2rem;
        width: 100px;
      }
    }

    .courses {
      display: flex;
      margin-top: 6rem;
      gap: 0.8rem;
    }

    h3 {
      align-items: center;
      display: flex;
      gap: 0.8rem;
      justify-content: right;

      & > span {
        color: $secondary;
        font-family: "Samsung Sharp Sans Bold";
      }
    }

    h4 {
      font-family: "Archimoto Font Black" !important;
    }

    p {
      font-family: "Archimoto Font Black";
      font-size: 1.1rem;
    }

    ul,
    li {
      font-family: "Archimoto Font Black";
    }

    ul {
      padding-left: 20px;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(5, 1fr);
    }

    li {
      margin-bottom: 1.2rem;
    }
  }
}
