.Education {
  .education-content {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .education-card {
      border-radius: 1.2rem;
      padding: 4rem 1.5rem;

      align-items: center;
      background-color: rgb(255, 255, 255);
      border: 2px solid $b;
      box-shadow: -40px -30px 0px 0px rgba($secondary, 1);
      display: flex;
      flex-direction: column;
      filter: url(#grain-texture);
      justify-content: center;
    }

    .university-header {
      align-items: center;
      display: flex;
      flex-direction: column;

      &::after {
        background-color: $fg;
        content: "";
        display: block;
        height: 4px;
        margin-bottom: 2rem;
        width: 100px;
      }
    }

    .courses {
      display: flex;
      flex-direction: column;
    }

    h3 {
      display: flex;
      align-items: center;
      flex-direction: row;

      svg {
        display: none;
      }

      span {
        font-family: "Samsung Sharp Sans Bold";
        text-align: center;
      }

      .purple {
        color: $secondary;
        font-family: "Samsung Sharp Sans Bold";
      }
    }

    h4 {
      font-family: "Archimoto Font Black" !important;
    }

    ul,
    li {
      font-family: "Archimoto Font Medium";
    }

    li {
      margin-bottom: 0.8rem;
    }

    p {
      font-family: "Archimoto Font Black";
      font-size: 1.1rem;
    }
  }
}
@media (min-width: $tablet) {
}

@media (min-width: 1195px) {
  .Education {
    .education-content {
      padding-block: 8rem;

      .education-card {
        border-radius: 1.2rem;
        padding: 4rem 4rem;
      }

      .university-header {
        align-items: center;

        &::after {
          height: 4px;
          width: 100px;
        }
      }

      .courses {
        flex-direction: row;
        margin-top: 6rem;
        gap: 0.8rem;
      }

      h3 {
        align-items: center;
        gap: 0.8rem;
        justify-content: right;
      }

      ul {
        padding-left: 20px;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
      }

      li {
        margin-bottom: 1.2rem;
      }
    }
  }
}
