.Education {
  .education-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8rem;

    .university-header {
      align-items: center;
      // background-color: blue;
      display: flex;
      flex-direction: column;

      &::after {
        background-color: $fg;
        content: "";
        display: block;
        height: 4px;
        margin-bottom: 2rem;
        width: 100px;
      }
    }

    .courses {
      display: flex;
      gap: 3rem;
      margin-top: 6rem;
    }

    h3 {
      align-items: center;
      display: flex;
      gap: 0.8rem;
      justify-content: right;

      & > span {
        color: $secondary;
        font-family: "Samsung Sharp Sans Bold";
      }
    }

    h4 {
      font-family: "Archimoto Font Black" !important;
      margin-top: 3rem;
      margin-bottom: 2.5rem;
    }

    p {
      font-family: "Archimoto Font Black";
      font-size: 1.1rem;
    }

    ul,
    li {
      font-family: "Archimoto Font Black";
    }

    ul {
      padding-left: 20px;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(5, 1fr);
      // grid-template-rows: 1fr 1fr;
    }

    li {
      margin-bottom: 1.2rem;
      max-width: 200px;
    }
  }
}
