.Carousel {
  background-color: $b;
  padding: 2rem 0 2rem 0;

  &::before {
    content: "";
    background-color: $primary;
    display: block;
    height: 2px;
    width: 100%;
  }

  &::after {
    content: "";
    background-color: $primary;
    display: block;
    height: 2px;
    margin-top: 30px;
    width: 100%;
  }
}

.logo-slider {
  overflow: hidden;
  padding: 30px 0 0 0;
  white-space: nowrap;
  position: relative;
}

.logo-slider:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 45s slide infinite linear;

  .icon {
    background-color: $b;
    color: $w !important;
    font-size: 8rem;
    // height: 183px;
    margin: 40px 40px;
    // width: 183px;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
