@import "./utils/variables", "./layout/Nav.scss", "./layout/Footer.scss",
  "./layout/Home.scss", "./layout/Home.scss";

* {
  margin: 0;
}

html,
body {
  // background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  background-color: var(--bg);
  margin: 0;
  overflow-x: clip;
  scroll-behavior: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 15px;
  margin-top: 0;
}

a {
  color: var(--fg);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $secondary;
  }
}

p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.2rem;

  &.h-underline:after {
    margin-top: 20px;
  }
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

@media (min-width: $laptop) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.logo {
  color: $w;
  cursor: pointer;
  scale: 1;
  transition: scale 0.4s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;

  .logo-icon {
    color: $w;
    font-size: 32px;
  }

  &:hover {
    scale: 1.08;
  }
}

.h-underline {
  align-items: center;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    background-color: $primary;
    border-radius: 12px;
    display: block;
    height: 4px;
    margin-top: 1.2rem;
    width: 100px;
  }
}

.underline {
  &::after {
    content: "";
    background-color: $secondary;
    border-radius: 12px;
    display: block;
    height: 4px;
    margin-top: 1rem;
    width: 100px;
  }
}

// Custom Buttons

.btn {
  display: block;
  font-size: 1.2rem !important;
  padding: 12px 22px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  text-decoration: none;
  width: fit-content;
}

.btn-primary {
  background-color: $secondary;
  border-radius: 14px;
  border: none;
  box-shadow: 1px 1px 5px -4px rgb(0, 0, 0);
  color: $w !important;
  font-size: 1.2rem !important;

  &:hover {
    background-color: $primary;
    color: $b !important;
  }
}

.center-headings {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

// Interior pages

// .interior {
//   position: relative;
//   min-height: calc(100vh - 298px);

//   h1 {
//     font-size: 3.5rem;
//     text-align: center;
//     margin-bottom: 2rem;

//     @media (min-width: $tablet) {
//       font-size: 4rem;
//     }
//   }

//   h3 {
//     margin-bottom: 0.5rem;

//     @media (min-width: $tablet) {
//       margin-bottom: 1rem;
//     }
//   }

//   article {
//     padding-block: 6rem;
//   }
// }

// .interior .container,
// .Home .container {
//   padding: 1.5rem;

//   @media (min-width: $mobileL) {
//     padding: 6rem 4rem;
//   }

//   @media (min-width: $tablet) {
//     padding: 6rem 5rem;
//   }

//   @media (min-width: $tablet) {
//     padding: 6rem 12rem;
//   }

//   @media (min-width: $desktop) {
//     padding: 6rem 30rem;
//   }
// }

// .interior .hero {
//   background-color: $w;
//   background-image: url(../../../public/detail-2-min.webp);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 40vh;
// }

.container {
  padding-right: 1rem;
  padding-left: 1rem;

  @media (min-width: $mobileL) {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}
