$bg: rgb(255, 255, 255);
$foreground: rgb(26, 26, 26);
$background: rgb(20, 20, 20);
$primary: #c1d6e9;
$secondary: #5863f8;
$contrast: #faa275;
$b: rgb(0, 0, 0);
$w: rgb(255, 255, 255);
$hamburgerBarHeight: 3px;
$grey: rgb(84, 88, 105);

// Theme

:root {
  overflow-x: clip;
  scroll-behavior: auto !important;
  color-scheme: dark light;
  --bg: $w;
  --fg: $b;
  @media (prefers-color-scheme: dark) {
    --bs: $b;
    --fg: $w;
  }
}

$mobile: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopM: 1440px;
$desktop: 1920px;
$desktopM: 2560px;
$desktopL: 3840px;
